
body {
	font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #333;

}



p {
	text-align: center;
	color: #fff;
	padding: 20px;
}


p > a {
	color: #fff;
	border-bottom: 1px dotted #999;
	transition: .2s ease-in-out;
}

p > a:hover {
	background-color: #F0BA45;
	color: #fff;
	text-decoration: none;
}

#link {

	text-align: center;
	display: inline-block;

}

#link > a {
	border-bottom: 1px dotted #999;
	transition: .2s ease-in-out;
	color: #999;
}

#link > a:hover {
	background-color: #F0BA45;
	color: #fff;
	text-decoration: none;
}


.wrapper {
	overflow-x:hidden;
}


.navbar{
    background:transparent;
    border:none !important;
}

.container-fluid {
	padding-top: 10px;
}


.navbar-default .navbar-nav > li > a:after {

  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #fff;

}

.navbar-collapse {
	border-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;


}

.navbar-toggle .icon-bar {
	height: 3px;
	width:
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover:after {
  	width: 100%;
}


.landing-img {
    padding-top: 500px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: -webkit-linear-gradient(top, rgb(58, 63, 67), rgba(0, 0, 0, 0.83)), url(../images/bubbles.png) repeat center center;
    background-size: cover;
    height: 300px;
}




#container{
   position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}

#title {
	font-family: 'Raleway', sans-serif;
	font-size: 47px;
	height: 75px;
	max-width: 450px;
	font-weight: 600;
	color: #F0BA45;
	display: inline-block;
	text-align: center;
	margin-left: auto;
   	margin-right: auto;

	/*text-shadow: 1px 1px 1px #aaa;*/
	/*background-color: #000;
	padding: 10px;
*/

}

#sub-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	max-width: 450px;
	height: 80px;
	color: #fff;
	text-align: center;
	line-height: 1.8em;
	margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
    display: block;

}

#deets {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 600;
	height: 40px;
	color: #999;
	text-align: center;
	margin-left: auto;
   	margin-right: auto;
	line-height: 1.5em;
	position: relative;
	padding: 15px 0px;
	max-width: 400px;


}

.buttons-container {
	max-width: 500px;
	margin-top: 30px;
	margin-left: auto;
   	margin-right: auto;
}


.rsvp-button {
	padding: 5px 25px;
	font-family: 'Raleway', sans-serif;
	width: 150px;
	font-size: 20px;
	border: 1px #fff solid;
	border-radius: 3px;
   	margin:10px;
	transition: all .4s ease-in-out;
	display: inline-block;


}

.fb-button {
	padding: 5px 25px;
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	width: 150px;
	font-size: 20px;
	border-radius: 3px;
   	margin: 10px;
	transition: all .4s ease-in-out;
	display: inline-block;


}

.fb-button > a {
	color: #000;

}

.fb-button > a:hover {
	color: #fff;
	text-decoration: none;

}

.fb-button:hover {

	background-color: #000;
	color: #fff;

}


.rsvp-button > a {
	color: #fff;
}

.rsvp-button > a:hover {
	text-decoration: none;
	color: #000;
}



.rsvp-button:hover {
	background-color: #fff;
	color: #000;


}


.affix {
  top: 10;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #000;
  border-color: #000;

}
.affix a {
  color: #fff !important;
  padding: 10px 20px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.affix-top a {
  padding: 10px 20px !important;
}
.affix + .container-fluid {
  padding-top: 10px;
}


.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  position: relative;
  max-width: 400px;
}


.section {
background-color: #fff;
width: 100%;
overflow: hidden;
padding-bottom: 50px;

}


#section-title {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	max-width: 450px;
	height: 100px;
	padding: 10px;
	margin: 0px auto;
	text-align: center;

}

.content {
	max-width: 700px;
	height: 100%;
	padding-top: 40px;
	position: relative;
	margin: 0px auto;

}

#section-content {
  color: #333;
   min-width: 300px;
   max-width: 400px;
  float:left;
  clear: left;
  position: relative;
  padding: 20px 35px;
  line-height: 1.8em;

}

#section-content > a {
	color: #333;
	border-bottom: 1px dotted #999;
	transition: .2s ease-in-out;
}

#section-content > a:hover {
	background-color: #F0BA45;
	color: #fff;
	text-decoration: none;
}



#what-is-kombucha {
  color: #333;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
   max-width: 650px;
  padding: 20px 35px;
  line-height: 1.8em;
  background-color: #F1F1F1;
  border-radius: 3px;
  font-size: 14px;

}


#club-content {
  color: #333;
  width: 500px;
  float:left;
  clear: left;
  position: relative;
  padding: 20px 35px;
  line-height: 1.8em;

}


#hashtag-content {
  color: #333;
  width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 20px 35px;
  line-height: 1.8em;

}

.kind-bars{
	background: url(../images/kindfree.png) no-repeat center center;
	background-size: cover;
	width: 550px;
	height: 170px;
	margin: 0 auto;

}

#tag-color {
	color: #F88D3B;
	display: inline-block;
	font-style: bold;
}

#tag-color > a {
	color: #F88D3B;

}




.komb-logo {
	background: url(../images/kombucha-shad.png) no-repeat center center;
	background-size: cover;
	width: 250px;
	height: 300px;
	float: right;
	margin-top: 30px;
	margin-left: 20px;

}

.house-logo {
	background: url(../images/house-logo.png) no-repeat center center;
	background-size: cover;
	width: 200px;
	height: 230px;
	float: right;
	margin-top: 30px;
	margin-left: 20px;

}

.event-deets-container {

  width: 100%;
  min-width: 320px;
  float:left;
  clear: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 30px 0px;
  position: relative;


}

.deet-box {
	display: inline-block;
	width: 50%;
	float: left;

}

#deet-color {
	color: #F0BA45;
	font-family: 'Raleway', sans-serif;
  	font-size: 15px;
  	font-weight: 600;
  	border-top: 2px solid #F0BA45;
  	padding-top: 5px;
  	display: inline-block;

}

#deet-info {
	font-size: 14px;
	line-height: 1.8em;
	padding: 15px 0px;
}

#deet-info > a {
	color: #333;
	border-bottom: 1px dotted #999;
	transition: .2s ease-in-out;
}

#deet-info > a:hover {
	background-color: #F0BA45;
	color: #fff;
	text-decoration: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.schedule-container {
	width: 100%;

}

.schedule-wrapper {
	position: relative;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 20px;

}

.schedule-table {
	width: 50%;
	margin: 0 auto;
}


.schedule-table-time {
	font-weight: 600;
    padding: 5px 5px 5px 0px;
    width: 30%;
}

.schedule-table-event {

    width: 70%;
}


.faq-box {
	float: left;
	width: 50%;
	min-width: 300px;

}

.faq-card {

	width: 95%;
	background-color: #fff;
	border-radius: 3px;
	padding: 40px 30px;
	margin: 10px;
	display: inline-block;
/*	box-shadow: 1px 1px 0.5px #CCC;
*/

}

#question {
	font-weight: 800;
	font-style: bold;
	font-size: 18px;
	padding-bottom: 20px;
}

#answer {
	font-size: 14px;
}

.navbar-brand img {
	width: 100%;
	padding: 0;

}

.club-logo {
	background: url(../images/club-logo.png) no-repeat center center;
	background-size: cover;
	width: 155px;
	height: 255px;
	float: right;
	margin-right: 20px;

}


img {
	width: 30%;
	padding: 20px;
	opacity: .6;

}

img:hover {
	opacity: 1;

}

.social-div {
	margin: 0 auto;
	width: 70%;
}

.social img {
	width: 20%;
	padding: 10px;
}






@media (max-width: 480px) and (min-width: 320px) {


  .komb-div {
  	max-width: 250px;
  	padding-top: 40px;
  	margin: 0 auto;

  }
  .komb-logo {
  	float:none;
  	margin: 0 auto;

  }
  .house-logo {
  	float:none;
  	margin: 0 auto;

  }

.kind-bars{

	width: 300px;
	height: 100px;
	margin: 0 auto;

}

  #club-content {
  	width: 100%;
  	min-width: 320px;
  }

  #hashtag-content {
  	width: 100%;
  	min-width: 320px;
  }

  .club-div {
  	max-width: 155px;
  	margin: 0 auto;
  }


  .club-logo {
  	margin: 0 auto;
  }



  #title {

  	font-size: 38px;
  	height: 60px;
  }

  #container {
   position: absolute;
   top: 50%;
   margin-top: -170px;
  }

  #sub-title {
  	height: 90px;
  	padding: 15px 30px;
  	display: inline-block;
  	font-size:
  }

  #deets {
  	font-size: 15px;
  }

  .faq-box {
	float: left;
	width: 100%;
 	}


	.navbar-collapse {
		border-color: transparent;
		background-color: #000;
	}

	.container-fluid {
		padding-top: 0px;
	}



	.schedule-table {
		width: 80%;
	}

	.faq-card {

		width: 95%;
		margin-left: 10px;
	}


}